body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.mainText1 {
    font-size: 21px;
    margin-top: 80px;
    margin-bottom: 4px;
}
.mainText2 {
    font-size: 21px;
    margin-bottom: 36px;
}
.mainText3 {
    font-size: 17px;
    margin-bottom: 4px;
}
.mainText4 {
    font-size: 17px;
    margin-bottom: 28px;
}
.mainText5 {
    font-size: 17px;
    margin-top: 64px;
    margin-bottom: 28px;
}
.secondText {
    color: rgb(166, 166, 166);
    font-size: 12px;
    margin-bottom: 4px;
}
.thirdText1 {
    font-size: 11px;
    margin-top: 52px;
    margin-bottom: 5px;
}
.thirdText2 {
    font-size: 11px;
    margin-bottom: 90px;
}
.thirdText3 {
    font-size: 11px;
    margin-bottom: 5px;
}
.thirdText4 {
    font-size: 11px;
    margin-bottom: 22px;
}
.thirdText5 {
    font-size: 11px;
    margin-bottom: 26px;
}
